*{
	box-size:border-box;
}
/* Styling for logo banner and nav bar */
body{
	margin-left:auto;
	margin-right:auto;
	width:75%;
}

#header{
	width:100%;
	height:auto;
	margin-bottom:2px;
}
.title{
	text-align:center;
	
}
h2.title {
	text-align:center;
}
.title li{
	list-style-type:none;
	display:inline;
	font-size:16px;
	padding:5px;
}

#navbar{
	width:100%;
	border-top:solid 1px black;
	background-color:#d3d3d3;
	height:50px;
	margin:0px;
}

#navbar-list{
	text-align:center;
	vertical-align:center;
}
#navbar-list li{
	list-style-type:none;
	display:inline;
	padding-right:14px;
	font-size:20px;
}
/* Styling for the homepage */

#content{
	width:100%;
	height:auto;
}

#content h1{
	padding-top:20px;
	padding-left:50px;
}


#content p{
	padding-top:20px;
	padding-bottom:20px;
	padding-left:50px;
}
.overview{
	width:auto;
	border-bottom:1px dotted blue;
}
.overview p{
	text-align:center;
	font-size:30px;
	
}
#home-diagram{
		border-bottom:1px dotted blue;
}
#home-diagram img{
	width:800px;
	display:inline;
}

#home-diagram p{
	font-size:20px;
	padding-right:11%;
	float:right;
	display:inline;
}

.float-right{
	float:right;
}

#initial-layout span{
	display:inline;

}

#logo-section{
	position:relative;
	top:60px;
	left:75px;
	font-size:40px;
	color:rgb(237,28,36);
}
#nav-section{
	position:relative;
	top:60px;
	left:75px;
	font-size:35px;
	color:rgb(153,217,234);
}
#content-section{
	position:relative;
	top:120px;
	left:75px;
	font-size:35px;
	color:rgb(219,208,156);
}
#footer-section{
	position:relative;
	top:410px;
	left:75px;
	font-size:35px;
	color:rgb(255,174,201);
}

.profile{
	display:inline;
	border-bottom:dotted 1px blue;
}
.profile ol{
	padding-right:5px;
	display:inline;
	}


.table-overview{
	width:auto;
	margin-right:250px;
}
.table-overview caption{
	font-size:40px;
}
.table-overview th{
	border:solid 1px blue;
}
.table-overview td{
	padding:3px;
	border:dotted 2px black;
}
.profile-link{
	width:75%;
	margin-left:auto;
	margin-right:auto;
	border-bottom:dotted 1px blue;
}
.profile-link p{
	display:inline;
}
.skills-overview{
	width:auto;
	margin-right:auto;
	margin-left:auto;
}
/* styling for footer */
#footer{
	clear:right;
	background-color:#d3d3d3;
	height:auto;
}
#footer p{
	text-align:right;
	vertical-align:middle;
}